@import "vars";
@import "typeahead";

body,
html {
  font-size: 16px;
}

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap";

.overflow-y {
  overflow-y: auto;
}

.text-small {
  font-size: 0.8rem;
}

.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  vertical-align: middle;
  transform: translateY(-5%);
}

.link-item-elem {
  .link-hover {
    .icon {
      display: none !important;
    }

    &:hover {
      .icon {
        display: inline-block !important;
      }
    }
  }
}
