@import '_fonts';

$darkColor: #212121;
$lessDarkColor: #2e2e2e;

// Define variable defaults
$body-bg: $darkColor;
$modal-content-bg: $darkColor;
$modal-backdrop-bg: black;
$modal-backdrop-opacity: 0.8;
$modal-content-border-color: $darkColor;
$input-bg: $lessDarkColor;
$input-border-color: $lessDarkColor;
$input-color: white;
$body-color: rgb(235, 235, 235);
$primary: #3f9cff;
$danger: #ff6969;
$success: #1DB954;
$font-family-sans-serif: 'JetBrains Mono', sans-serif;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

body, html {
  font-size: 16px;
}

.form-control[readonly] {
  background-color: $lessDarkColor;
}
